.Tralgs-logo {
  height: 75px;
}

.ml-auto, .mx-auto {
    margin-left: auto!important;
}

.navbar-nav > li{
  padding-left:50px;
  padding-right:50px;
}

.Back {
    background-color: WhiteSmoke;
}

.White {
    background-color: white;
    text-align: center;
}

.Light {
    background-color: white;
    border-style: solid;
    border-color: WhiteSmoke;
    color: black
}

.Dark {
    background-color: WhiteSmoke;
    border-style: solid;
    border-color: WhiteSmoke;
    color: black
}

.Black {
    background-color: gray;
    border-style: solid;
    border-color: WhiteSmoke;
    color: white
}